:root {
  --text-color: #333;
  --background-color: #eee;
}
* {
  /* outline: solid; */
}

body {
  margin: 40px auto;
  max-width: 75ch;
  line-height: 1.3;
  color: var(--text-color);
  padding: 2em 1em;
  padding: 0 10px;
  font-family: Georgia;
  font-size: 18px;
  background-color: var(--background-color);
}

h1 {
  font-size: 1.3rem;
}

#title {
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  line-height: 1.5;
}

p {
  margin: 0.5rem 0 1rem 0;
}
nav {
  text-align: center;
}

#nav-link {
  text-decoration: none;
  color: var(--text-color);
}

.section-header {
  text-align: center;
}

#goals {
  /* width: 100%; */
  margin: auto;
  font-size: 0.9rem;
  text-align: center;
}

th,
td {
  padding: 0.2rem;
  border: 1px solid;
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
