html {
  max-width: 85ch;
  padding: 2em 1em;
  margin: auto;
  /* line-height: 1.75; */
  font-size: 1.25em;
}

p,
ul,
ol,
td {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: sans-serif;
}

nav {
  text-align: center;
}

#nav-link {
  text-decoration: none;
  color: black;
}

.section-header {
  text-align: center;
}

#goals {
  width: 100%;
  font-size: 0.7rem;
  text-align: center;
}

th,
td {
  border: 1px solid;
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
